<div id="det">




<img  src="http://localhost:8090/{{details.image}}" alt=""> <br>



</div>
<div> <br>
    <table>
        <tr>
            <td>
                Name 
            </td>
            <td>
                {{details.name}}
            </td>
        </tr>
        <tr>
            <td>
                Author 
            </td>
            <td>
                {{details.author}}
            </td>
        </tr>
        <tr>
            <td>
                Price 
            </td>
            <td>
                {{details.price}}
            </td>
        </tr>
        <tr>
            <td>
                Book Type 
            </td>
            <td>
                {{details.type}}
            </td>

        </tr>
      
        
    </table>
   
    
</div>